<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header" id="topheader">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="/">BookDOC</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-uppercase">
                  <li class="nav-item">
                    <a class=" nav-link" href="/register">sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class=" nav-link" href="/login">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <selection class="header-selection">
            <div class="center-div">
                <h1 class="font-weight-bold">
                    Book Your Appointment Now
                </h1>
                <p>
                    How is health today? Sounds like not good!
                    <br>Don't worry. Find your doctor online and <br> book as you wish.
                </p>
                <div class="header-buttons">
                    <a href="#about">AboutUs</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>
          </selection>
    </div>

    <section class="header-extradiv" id="about">
        <div class="container">
            <div class="row">
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <h2>LOCATION</h2>
                        <p>We are available in 3 cities now Mumbai, Delhi and Bangalore. Set the location as per your choice.</p>
                    </a>
                </div>
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        <h2>SEARCH DOCTOR</h2>
                        <p>Request appointments based on time slots and date. Know your Doctor to book confirmed doctor Appointment effortlessly with clinic details.</p>
                    </a>
                </div>
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                        <h2>BOOK APPOINTMENT</h2>
                        <p>Avoid endless back and forth communication; empowering with dynamic Email notifications.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="what">
        <br>
        <h2 class="text-center">What We Have With Us?</h2>    
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <img src="../static/Doctors-cuate.svg" alt="" height="80%" width="80%">
            </div>
            <div class="col-lg-6 col-md-12 text-center stats">
                <br>
                <div class="container text-center">
                    <div class="row g-2">
                      <div class="col-6">
                        <div class="p-3 m-3 bg-white rounded shadow">
                                <h4>DOCTORS</h4><hr><h3>{{d}}</h3>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3 m-3 bg-white rounded shadow">
                            <h4>APPOINTMENTS</h4><hr><h3>{{b}}</h3>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3 m-3 bg-white rounded shadow">
                            <h4>USERS</h4><hr><h3>{{u}}</h3>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="p-3 m-3 bg-white rounded shadow">
                            <h4>PATIENTS</h4><hr><h3>{{p}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <footer id="contact">
        <div class="m-5 p-3 text-center">
            <h2 style="font-family: 'Alkatra', cursive;">Contact Us</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <h5 class="p-1"><strong>PHONE</strong></h5>
                        <p>
                            Delhi: <a class="text-secondary" style="text-decoration: none;" href="tel:1155481732">1155481732</a>
                            <br>
                            Maharashtra: <a class="text-secondary" style="text-decoration: none;" href="tel:1155481732">2227412915</a>
                            <br>
                            Karnataka: <a class="text-secondary" style="text-decoration: none;" href="tel:1155481732">2290553243</a>
                        </p>
                    </div>
                    <div class="col-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                        </svg>
                        <h5 class="p-1"><strong>ADDRESS</strong></h5>
                        <p>
                            Delhi: 1, Rati Ram Park, Shivaji Marg, Najafgarh, Delhi, Delhi Pin: 110043
                            <br>
                            Maharashtra: J 22, Midc Ind Area, Taloja, Navi Mumbai, Maharashtra Pin: 410208
                            <br>
                            Karnataka: Arabic College Mn Rd, Venkateshpuram, Bangalore, Karnataka Pin: 560045
                        </p>
                    </div>
                    <div class="col-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                        </svg>
                        <h5 class="p-1"><strong>EMAIL</strong></h5>
                        <p>
                            Delhi:<a class="text-secondary" style="text-decoration: none;" href = "mailto:  bookdocDelhi@gmail.com"> bookdocDelhi@gmail.com</a>
                            <br>
                            Maharashtra:<a class="text-secondary" style="text-decoration: none;" href = "mailto:  bookdocDelhi@gmail.com"> bookdocMaharashtra@gmail.com</a>
                            <br>
                            Karnataka:<a class="text-secondary" style="text-decoration: none;" href = "mailto:  bookdocDelhi@gmail.com"> bookdocKarnataka@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>