{% extends "userlayout.html" %}
{% block content %}
<body>
    <div class="m-5 p-3">
    <h1 class="text-center text-secondary" style="font-family: 'Alkatra', cursive;">My Appointments</h1>
    {% if l==0 %}
        <h2 class="text-center text-danger m-5" style="font-family: 'Alkatra', cursive;">
            You have not booked any appointments yet.
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </h2>
    {% else %}
    <table class="table">
        <thead>
            <tr class="bg-danger text-light">
                <th scope="col">Appointment ID</th>
                <th scope="col">Doctor</th>
                <th scope="col">Clinic</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Patient</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for a in app %}
            <tr>
                <td>{{a.0}}</td>
                <td>{{a.1}}</td>
                <td>{{a.2}}</td>
                <td>{{a.3}}</td>
                <td>{{a.4}}</td>
                <td>{{a.5}}</td>
                <td>{{a.6}}</td>
                <td>{{a.7}}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    {% endif %}
    <img src="../static/Calendar-pana.svg" alt="" height="25%" width="25%" style="float: right;">
</div>
</body>
</html>
{%endblock%}