{% extends "adminlayout.html" %}
{% block content %}
<body>
    <div class="m-3">
        <h3 class="text-secondary text-center" style="font-family: 'Alkatra', cursive; margin-top: 3%;"><img src="../static/users-1.1s-200px.svg" alt="" height="4%" width="4%">Users's List<img src="../static/users-1.1s-200px.svg" alt="" height="4%" width="4%"></h3>
        <table class="table" style="margin-top: 2%;">
            <thead>
                <tr class="bg-danger text-light">
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for row in users %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
{%endblock%}